* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
@font-face {
  font-family: themillion;
  src: url(../Homer_Simpson.ttf);
  font-size: 2rem;
}
body {
  font-family: themillion;
  font-size: 2rem;
  color: black;
  background-image: url("../imgs/cielo\ simpsons.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  max-width: 1800px;
  height: 100%;
  text-align: center;
  align-content: center;
}

/*encabezado */
header {
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 0.5rem 1rem;
  box-shadow: #4f4a42 0 0 2rem 0;
  font-family: themillion;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}

.nav__item {
  margin: 0 0 0 1rem;
  display: inline-block;
  list-style: none;
}
.nav__link {
  color: black;
  font-weight: bold;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  margin: auto 0.5rem;
}
.nav__link:hover,
.nav__link:focus {
  opacity: 0.4;
}

/*fin encabezado*/
h1 {
  margin-top: 3rem;
}
.caja {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.caja__primera {
  display: flex;
  flex-direction: column;
}
.columna {
  display: flex;
  flex-direction: column;
}
.ImgLuchadora {
  max-width: 240px;
  margin: 0 auto;
}
/*revisado*/
.container {
  margin: 0 auto;
  max-width: 80%;
  text-align: center;
}
/*footer*/
footer {
  color: white;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  position: static;
  bottom: 0;
  height: 50px;
}
.PieDePagina {
  display: flex;
  flex-direction: row;
  padding-left: 1rem;
  align-items: center;
  bottom: 0;
  position: relative;
}
.PieDePagina h3 i {
  padding-left: 2rem;
  bottom: 0;
}
li {
  list-style: none;
}
.redes {
  color: white;
  display: flex;
  flex-direction: row;

  align-items: center;
}
/* cajas */
.cajas {
  overflow: hidden;
}

/*[tarjetas personales*/
.card {
  margin: 2rem;
  min-width: 300px;
  max-width: 300px;
  padding: 2rem;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45);
  overflow: hidden;
}

.staff {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.photo {
  height: 300px;
  width: 200px;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45);
  background-color: white;
}
.card--pink {
  background: rgb(207, 41, 68);
}
.card--yellow {
  background: rgb(253, 197, 14);
}
.card--green {
  background: rgb(51, 128, 0);
}
.card--blue {
  background: rgb(9, 199, 126);
}
.card--orange {
  background: orangered;
}
.card--red {
  background-color: #f52323;
}
.card--grey {
  background: rgb(165, 148, 148);
}
