* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: themillion;
  src: url(../Homer_Simpson.ttf);
}
body {
  font-family: themillion;
  font-size: 2rem;

  color: black;
  background-image: url("../imgs/cielo\ simpsons.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}
header {
  position: sticky;
  top: 0;
  background-color: "gradient";
  padding: 0.5rem 1rem;
  box-shadow: #424f46 0 0 2rem;
  font-family: themillion;
}
.fila {
  display: flex;
  justify-content: space-evenly;
}
.nav__link {
  color: black;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.nav__item {
  margin: 0 0 0 1rem;
  background-image: url(../imgs/nube2.png) hide;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}
.nav__item :hover nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
}
.nav__link:hover,
.nav__link:focus {
  opacity: 0.4;
}
.col {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.media {
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.parrafoprimero {
  display: flex;
  align-items: center;
  width: 800px;
}
.cajaImgP {
  display: flex;
  flex-direction: row;
}
.icono__reciclaje {
  max-width: 200px;
  margin: 0 auto;
}
.SegundaCaja {
  height: 400px;
}
img {
  text-align: right;
}
footer {
  max-width: 100%;
  margin: 0 auto;
  background-color: #424f46;
}
h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 4rem;
}
h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  width: 400px;
  height: auto;
}
i {
  margin-right: 3rem;
  text-align: center;
}
