footer {
  color: white;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.PieDePagina {
  display: flex;
  flex-direction: row;
  align-items: center;
  bottom: 0;
}

li {
  list-style: none;
}
.redes {
  color: white;
  margin: auto 2rem;
}
/*maps*/
$redes: (
  twitter: #55acee,
  facebook: #3a5795,
  instagram: #c25e30,
);
@each $red, $color in $redes {
  .btn--#{$red} {
    background-color: $color;
  }
}
