footer {
  color: white;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.PieDePagina {
  display: flex;
  flex-direction: row;
  align-items: center;
  bottom: 0;
}

li {
  list-style: none;
}
.redes {
  color: white;
  margin: auto 2rem;
}
